@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica { /*Mexendo no áudio para ficar em cima da imagem de rádio*/
    display: block;
    position: relative;
    left: 575px;
    top: 488px;
    width: 300px;
}

video#filme { /*Mexendo no vídeo para ficar em cima da imagem de tv*/
    display: block;
    position: relative;
    left: 90px;
    top: 70px;
    width: 440px;
}